body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: blue;

}
nav{
    background-color: black;
    color: white;
    padding: 10px;
}
header{
    background-color: black;
    color:white

}
.container{
    width: 80%;
    margin: auto;
    gap: 20px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

.box{
    flex: 1 1 300px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    border-radius: 8px;
}

@media (min-width: 600px) {
    /*this is for devices with a minimum width of 600px, like tablets*/
      body {
        background-color: white;
      }
      .box {
        flex: 1 1 45%; 
      }
      img{
        width: 10%;
        height: auto;
        background-color: green;
      }
    }

    
    @media (min-width: 1024px) {
        /*this is for devices with a minimum width of 1024px, like computers*/
      body {
        background-color: white;
      }
      .box {
        flex: 1 1 30%; 
      }
      img{
        width: 10%;
        height: auto;
        background-color: green;
      }
    }